body {
	padding-top: 70px; 
}

#navbar {
	/*-webkit-box-shadow: 0 8px 6px -6px gray;
	   -moz-box-shadow: 0 8px 6px -6px gray;
			box-shadow: 0 8px 6px -6px gray;*/
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

#navbar ul li {
	font-size: 18px;
}

.navbar-brand {
	font-size: 26px;
}

#projectContainer {
	margin-top: 1em;
	padding-bottom: 4em;
}

.projectRow {
		
}

.project {
	padding-top: 1em;
	padding-bottom: 1.5em;
	border: 1px solid #eaeaea;
	border-radius: 15px;
}
.title{
	color: #42A5F5;
}

.projectDescription {
	font-size: 16px;
}

.projectPhoto {
	height: 200px;
	width: 200px;
	border-radius: 20px;
}

#customButton {
	border-radius: 5;
	background-color: #424242;
	color: white;
}

#customButton:hover {
	background-color: #212121;
}

#contactInfo {
	color: #fafafa;
}